@model PageCloud.Models.Domain

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-w3layouts">
        <!-- page start-->
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Manage Domain
                        </header>
                        <div class="panel-body">
                            <div class="position-center">


                                <div>
                                   
                                    <hr />
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.registrationDate)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.registrationDate)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.paymentMethod)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.paymentMethod)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.websiteStatus)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.websiteStatus)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.User.userName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.User.userName)
                                        </dd>

                                    </dl>
                                </div>


                            </div>

                        </div>
                    </section>

            </div>
        </div>
    </div>
