@model IEnumerable<PageCloud.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Invoice 
        </div>
        <div class="row w3-res-tb">
            <div class="col-sm-5 m-b-xs">
                <select class="input-sm form-control w-sm inline v-middle">
                    <option value="0">Bulk action</option>
                    <option value="1">Delete selected</option>
                    <option value="2">Bulk edit</option>
                    <option value="3">Export</option>
                </select>
                <button class="btn btn-sm btn-default">Apply</button>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="width:20px;">
                            <label class="i-checks m-b-none">
                                <input type="checkbox"><i></i>
                            </label>
                        </th>
                        <th>@Html.DisplayNameFor(model => model.taxInvoice)</th>
                        <th>
                            @Html.DisplayNameFor(model => model.invoiceDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dueDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.total)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.invoiceStatus)
                        </th>
                        <th></th>
                        <th style="width:30px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.taxInvoice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.invoiceDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dueDate)
                            </td>
                            <td>
                                R @Html.DisplayFor(modelItem => item.total)
                            </td>
                            <td>
                               @if(item.invoiceStatus == false)
                               {
                                   <label class="label label-danger">Unpaid</label>
                               } else
                               {
                                   <label class="label label-success">Paid</label>
                               }
                            </td>
                            <td>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.taxInvoice }) |*@
                                @Html.ActionLink("Details", "Details", new { id = item.taxInvoice }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.taxInvoice })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">

                <div class="col-sm-5 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                </div>
                <div class="col-sm-7 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>